[2011-02-13 21:38] technomancy opened #3 "Interaction between Java classes and Mirah classes is one-way"
Mirah code can interact with Java code, but there's currently no way for mixed-source projects to have two-way interaction between languages.

[2011-02-13 21:38] technomancy opened #4 "Tasks for signing releases"
Currently Pindah can only create debug-signed or unsigned .apk files.

[2011-02-13 21:39] technomancy opened #5 "Autogenerate manifests"
It might be nice if AndroidManifest.xml could be autogenerated from a YAML file or some other source.

[2011-02-13 21:40] technomancy opened #6 "Builds currently shell out to a separate mirahc process"
Builds would be faster if they used the Mirah ant task instead, but it currently doesn't set the classpath correctly, so R classes are not available.

[2011-02-13 21:52] technomancy opened #7 "Failed tasks do not stop the build process."
Compilation errors in the mirahc stage will still cause the app (whatever version is already on disk) to be installed in "jrake install"

(This is true only when the compiler is invoked using the org.mirah.ant.Compile task; shelling out with exec works properly.)

[2011-02-14 05:00] ribrdb commented on #6
If you're using ant for compiling java files, you should be able to use the same classpath for mirahc as javac.  There's an example in my gwt build.xml: https://github.com/ribrdb/mirah_gwt_example/blob/master/build.xml

[2011-02-18 14:51] xinuc opened #8 "Inference ErrorCannot find class R on compile"
I always get error like this when trying to compile a newly generated project:

<pre>
compile:
Inference Error:
./org/xinuc/bukalapak/Start.mirah:6: Cannot find class R
    setContentView R.layout.main
                  ^^
rake aborted!
org.apache.tools.ant.BuildException: exec returned: 1
</pre>

how can I fix this?

[2011-02-18 18:10] zapnap commented on #8
Can you confirm that you're using the latest master? Or gem version?

[2011-02-18 18:34] xinuc commented on #8
Yup, I'm using the latest master

[2011-02-18 19:11] xinuc commented on #8
Here is what I do to reproduce the error:

<pre>
$ git clone https://github.com/mirah/pindah.git
$ pindah/bin/pindah create org.xinuc.pindahtest pindahtest Start
$ cd pindahtest
</pre>

edit Rakefile, replace

<pre>
require "rubygems"
require "pindah"
</pre>

with

<pre>
require "../pindah/lib/pindah"
</pre>

then run `rake compile`

[2011-02-19 04:42] technomancy commented on #6
Set classpath correctly for mirahc ant task. Closed by 8cb47dccc46579b7947e873104713f2147363a15.

[2011-02-19 04:42] #6 closed, assigned to nobody

[2011-02-19 04:43] technomancy commented on #8
I just pushed a fix to git master that should take care of this; please reopen if it persists.

[2011-02-19 12:43] #8 closed, assigned to nobody

[2011-02-21 12:54] xinuc commented on #8
Hi, I can confirm that this issue persists.

[2011-02-22 01:11] xinuc commented on #8
Actually I can run `rake debug` and even `rake install` and I got my project installed (but can't be run). The error still persists.

[2011-02-22 01:28] zapnap commented on #8
Can you try my fork (zapnap/pindah)?

[2011-02-22 03:09] xinuc commented on #8
Nope, still no luck with your fork too.. :(

[2011-02-22 04:40] technomancy commented on #8
Can anyone else confirm this? I can't repro. Maybe it has to do with the version of JRuby used? Upgrading to the latest RC may help.

[2011-02-22 05:04] zapnap commented on #8
I was able to reproduce when running rake compile on current master. But I can't seem to replicate it on my own fork (slightly behind). Haven't yet had time to dig in any deeper though.

[2011-02-22 05:05] zapnap commented on #8
using jruby 1.5.2 fwiw

[2011-02-22 05:36] xinuc commented on #8
OK, I don't know what's going on...
I've updated my jruby and mirah

<pre>
$ ruby -v
jruby 1.6.0.RC2 (ruby 1.8.7 patchlevel 330) (2011-02-09 5434c72) (OpenJDK Client VM 1.6.0_20) [linux-i386-java]
</pre>

<pre>
$ mirahc -v
Mirah v0.0.6.dev
</pre>

and run the exact steps I described [above](https://github.com/mirah/pindah/issues/8/#issue/8/comment/786587)
is there any problem with this steps?

I s

[2011-03-06 21:58] technomancy commented on #8
The new "pindah create" skeleton puts in an explicit package declaration since someone else realized this fixed the problem on their machine. Does it solve it for you as well?

[2011-03-07 05:00] xinuc commented on #8
Actually no. Still the same error.

Do you have a clue why this happen in my env?
A quick fix or a hack to fix this in my own laptop will be fine.

[2011-04-01 04:54] cesquivias opened #11 "Rake Fails on Windows Errno::ENOENT No such file or directory /tmp/..."
jruby isn't able to read the build script created. The script is created properly (with all the xml inside)

Errno::ENOENT: No such file or directory - /tmp/pindah-6468-build.xml
     unlink at org/jruby/RubyFile.java:1781
  ant_setup at C:/usr/lib/jruby-1.6.0/lib/ruby/gems/1.8/gems/pindah-0.1.0/lib/pindah.rb:73
       call at org/jruby/RubyProc.java:268
       call at org/jruby/RubyProc.java:232

[2011-04-01 19:43] teemun commented on #8
I ran into same issue. What helped, was the combination of an explicit package declaration and small modification to pindah build.xml.

Declared:

[code]

And modified compile target:

[code]

[2011-04-04 23:26] sattvik opened #13 "Pindah 0.1.1 regression: Project fails to compile"
I have a project that builds fine with 0.1.0, but now fails to build with 0.1.1.  I have not yet fully had the time to track it down, but I think that somehow the generated R class isn't being included in mirahc's classpath.

I will look into this a bit more and submit a patch once I have figured out what's going on.

[2011-04-06 12:07] xinuc commented on #8
@teemun thanks a lot...
Finally I can compile it without any error...

@technomancy is there any chance this modification pulled into pindah?

[2011-04-06 12:26] xinuc commented on #8
created pull request here https://github.com/mirah/pindah/pull/14 in case you're interested.

got 2 failed tests, but they're there before this modification.

[2011-04-06 21:06] sattvik commented on #13
I found out what is going on, but do not have a fix, yet.  It seems like the mirahc task is messing up the package for mirah sources.  As an example, let's say the root directory for your project is '/home/foo/myproject'.  The source file is 'src/myproject/foo.mirah'.  The compiled class should be 'bin/classes/myproject/Foo.class', but instead it's showing up as 'bin/classes/home/foo/myproject/Foo

[2011-04-06 21:11] sattvik opened #15 "Mirah source files included in Android package"
Since Pindah relies on Mirah source files being in the same directory as Android expects Java sources, Android will package any non-Java source files in that directory into the apk file.  Off-hand, there are two ways to resolve this:
1. Split Java/Mirah sources into different directories, such as 'src/java' and 'src/mirah'.  This would presumably break existing projects, unless some backward-compa

[2011-04-08 15:40] zapnap commented on #15
Good point. I think I like the src/<language> option, but it would be a breaking change. On the other hand we're early along enough now that it'd be a better time to do it than later. Perhaps it could default to looking for top-level package names in src/ if neither a src/java or src/mirah directory is found.

[2011-04-08 23:47] sattvik commented on #13
Just sent a pull request that fixes the issue.

[2011-04-17 07:19] igstan opened #18 "javac task in build.xml should include the classpath used by mirahc task"
I think the `javac` task in `templates/build.xml` should look like this:

[code]

The reason is that, if I have aidl files in my src directory, at compile basic packages like android.os won't be available. Like this project for example: https://github.com/couchone/libcouch-android/tree/master/src/com/couchone/libcouch

I just took those two aidl files (completed with package names) and put names i

[2011-04-25 13:57] LarsWestergren commented on #13
I still have this issue unfortunately, even when applying your change to build.xml. I'm using Mirah v0.0.7

[2011-05-15 01:34] takeru commented on #13
same problem

http://groups.google.com/group/mirah/browse_thread/thread/f8ecc74daa1eba2d

works for me!

tkrmb2:~/proj/mirah-android/HelloPindah% gem list

**\* LOCAL GEMS ***

arrayfields (4.7.4)
bitescript (0.0.8)
bouncy-castle-java (1.5.0146.1)
bundler (1.0.13)
fattr (2.2.0)
jruby-jars (1.6.1)
jruby-openssl (0.7.4)
main (4.2.0)
mirah (0.0.7 java)
pindah (0.1.1)
rake (0.8.7)
ruboto-core (0.1.0)

[2011-06-06 22:42] mkilling opened #19 "rake fails under Windows because of hard-coded path separator"
Hey,
creating a new pindah project and running `rake debug` does not work under Windows because line 17 of`lib/pindah.rb` tries to separate the $PATH using colons and Windows uses semicolons.

[code]

[2011-06-09 08:57] niedhui opened #20 "does pindah support library reference"
eg :
in default.properties
android.library.reference.1=../../xxxx

rake compile
seems it doesn't compile the reference library into the bin folder

[2011-06-09 16:49] zapnap commented on #19
I just pushed a commit that should fix the path separator issue. I don't have a Windows box at the moment (should be back online sometime next week) but if you could check it out and report any other problems, we'd appreciate it. Thanks!

[2011-06-09 16:49] #19 closed, assigned to nobody

[2011-06-09 18:51] zapnap commented on #11
This should be fixed now that we're using Tempfile instead of constructing the tmp build.xml by hand. Let me know if that's not the case.

[2011-06-09 18:51] #11 closed, assigned to nobody

[2011-06-09 19:02] zapnap commented on #13
Applied patch, sorry for the delay here.

[2011-06-09 19:02] #13 closed, assigned to nobody

[2011-06-27 18:47] mkilling commented on #8
Still happens for me with current master.

[2011-09-01 06:44] abscondment commented on #7
What's the rationale for calling the ant.Compile task rather than using exec? This is a pretty frustrating bug, especially when you get in the habit of running `rake install && adb logcat`.

[2011-09-01 16:17] technomancy commented on #7
I believe exec will spawn another JVM, so you pay startup costs for the redundant process.

[2011-09-01 21:07] abscondment commented on #7
That makes sense. I submitted a fix on the mirah side of things; think you can test it out?

https://github.com/mirah/mirah/pull/140

[2011-10-14 19:35] fidanov opened #24 "Wrong Targets Hash"
I am under Windows 7. The android/platforms folder contains the following platforms:

android-1.1/
android-1.5/
android-2.0/
android-2.0.1/
android-2.1/
android-4/
android-8/
android-9/
android-10/
android-11/
android-12/
android-13/

Therefore the targets in the pindah.rb, line 34 are wrong:

Line 34:
TARGETS = { "1.5" => 3, "1.6" => 4,
    "2.1" => 7, "2.2" => 8, "2.3" => 9 }

When I am trying t

[2011-10-31 20:12] tlwalker opened #25 "pindah should force Mirah to generate Java 1.6 bytecode"
There should be a way have Mirah generate a specific version of JVM bytecode or have the Pindah build script compile the Mirah-generated Java source code compiled as a step. This is to address the fact that Java 7 is not supported the Android SDK.

[2011-10-31 21:16] baroquebobcat commented on #25
you mean like the `--jvm` option on `mirahc`?

[2011-11-01 20:20] tlwalker commented on #25
Yes, I believe that is it. Having the mirahc task run as mirachc --jvm 1.6 when run on a system with 1.7 installed would fix this until android supports Java 7. I would say mirror the javac task but the target attribute is already taken. So I guess a jvm or target-jvm attribute would work.

[2011-11-08 16:22] baroquebobcat commented on #25
Added a new Mirah issue for this (https://github.com/mirah/mirah/issues/156). it should be a pretty straight forward change on the Mirah side.

[2011-11-08 19:01] tlwalker commented on #25
Cool. By the way, there also needs to be an addition in the target and source attributes to the javac entry in pindah's build.xml file.

[2011-12-17 07:48] abscondment commented on #20
Hey @niedhui -- could you test this out? It's working pretty well for me.

[2012-01-12 21:21] abscondment commented on #4
This is blocked by a jruby bug: http://jira.codehaus.org/browse/JRUBY-4827

[2012-01-12 22:56] #4 closed, assigned to nobody

[2012-01-12 23:09] #24 closed, assigned to nobody

[2012-01-12 23:12] abscondment commented on #20
My project is successfully compiling against the Facebook SDK and some other sundry libraries, so I'm going to mark this as closed.

The new syntax looks like this:

[code]

The ant task seems to be really strict about where libraries are -- I have only had it work when the libraries share a parent directory with your project.

[2012-01-12 23:12] #20 closed, assigned to nobody

[2012-01-12 23:14] abscondment commented on #7
This is stale; the issue was fixed by mirah/mirah#140.

[2012-01-12 23:14] #7 closed, assigned to nobody

[2012-01-30 10:34] josepjaume opened #26 "Already initialized constant Exception"
Hi!

I'm using pindah master (since it has an updated build.xml that's needed in latest android sdk) and when I try "rake compile" it throws an exception `already initialized constant Exception`.

That's the exact output I get:

[code]

Note that I'm using a `Gemfile` with the following contents:

[code]

And I had to add the following line to the Rakefile to complain with Rake::DSL:

[code]

Any

[2012-01-30 16:12] abscondment commented on #26
That warning actually appears all the time - it's definitely misleading,
but it's not the cause of your error.

The real exception is this:

org.apache.tools.ant.BuildException: org.jruby.exceptions.RaiseException:
(RuntimeError) nothing to parse? [".", "./com", "./com/codegram",
"./com/codegram/standapp"]

Are there any source files is those paths?

[2012-10-11 06:09] nuclearsandwich opened #28 "Release 0.1.3 gem"
I had issues with the currently released gem but master works.

What say we cut a release?

[2012-10-11 17:22] abscondment commented on #28
Sounds good. I'll try to get it out this week.

[2012-10-11 18:10] abscondment commented on #28
I have two commits in my fork that I'd like to include, but I want to make sure they don't break things for you. I updated to let the r20 tools include libraries correctly.

@nuclearsandwich , could you try out master from https://github.com/abscondment/pindah and let me know if there's any issue? If not, I'll merge those in for 0.13.0

[2012-10-11 19:23] nuclearsandwich commented on #28
Hah, I had an incoming PR with a similar but.lesser change.. I have another that tweaks the templates a bit. I'll push as soon as school wifi allows.

[2012-10-11 20:09] nuclearsandwich commented on #28
Just submitted PR #29 which makes minor template changes.

Running `rake test` on both abscondment/pindah master and mirah/pindah master gives the following error:

[code]

However, I'm able to remove the manually specified `:target => 16` from my project spec. So the changes appear to work.

[2012-10-11 20:38] abscondment commented on #28
Hmm, yeah. AFAICT, this is happening when `lib/pindah.rb` tries to require
mirah. Strange.

On Thu, Oct 11, 2012 at 1:09 PM, Steven! Ragnarök
notifications@github.comwrote:

[2012-10-11 23:11] baroquebobcat commented on #28
I think the problem might be the `Gemfile` dep on mirah from git. Mirah has additional build dependencies that don't get setup on gem install. It would be safer to either use the released version, or to use a path dependency.

Otoh, I could try making mirah attempt to build itself on gem install when it's installed from git.

[2012-10-11 23:20] nuclearsandwich commented on #28
I vote for using a release. A lot less duplication of effort thay way.

[2012-10-12 17:54] abscondment commented on #28
I agree. I pinned it on 0.0.12, but I now see super weird rake issues:

[code]

I get this even if I comment out all of the tests. Not sure what that means.

[2012-10-13 16:17] apaleslimghost opened #30 "org.apache.tools.ant.BuildException: taskdef class com.android.ant.SetupTask cannot be found"
[code]

[2012-11-17 23:36] thypon commented on #30
Same issue here

[2012-11-18 22:44] apaleslimghost commented on #30
Install Pindah from Git:

[code]

and the issue magically goes away. Good luck!

[2012-11-18 22:44] #30 closed, assigned to nobody

[2012-11-19 10:03] thypon opened #31 "Compilation problems with android-tools R20 and pindah-git"
The error is the same of that

http://stackoverflow.com/questions/11255805/use-ant-clean-test-with-the-newest-android-sdk-renderscript-opt-level-is

[code]

[2013-02-04 05:15] donokuda opened #33 "Project with only basic Activity doesn't compile (0.13)"
**Steps to reproduce**
1. `pindah create com.example.hello helloworld HelloActivity`
2 . `cd helloworld`
3. Running `$ rake debug` errors on the compile step and the compiled apk doesn't load as expected.

[code]

[Full log dump here](https://gist.github.com/ed992bc229810bdf8b13)

[2013-02-06 09:02] artagnon opened #34 "Compile error: Unable to resolve project target 'android-7'"
Using pindah-git here.  Tried:

[code]

And I get:

[code]

[2013-02-06 09:34] baroquebobcat commented on #34
Do you have the android-7 target installed w/ your android sdk?

[2013-02-06 09:36] artagnon commented on #34
Do you mean Android 2.1 (API 7)?  Isn't that super-old?

[2013-02-06 10:14] baroquebobcat commented on #34
currently, that's the default (https://github.com/mirah/pindah/blob/master/lib/pindah_cli.rb#L5).

 You can override it by editing the generated `Rakefile`

[2013-02-06 10:20] artagnon commented on #34
Thanks.  I've sent a pull request changing this to 4.2.

[2013-02-06 10:20] #34 closed, assigned to nobody

[2013-02-06 10:44] artagnon opened #36 "Openjdk not supported?"
pindah doesn't pick up my openjdk.  Does it require Sun's Java implementation?

[code]

[2013-02-06 13:32] artagnon commented on #36
Never mind.  Setting `JAVA_HOME` to `/usr/lib/jvm/java-7-openjdk-amd64` seems to fix it.

[2013-02-06 13:32] #36 closed, assigned to nobody

[2013-02-06 13:39] artagnon opened #37 "Compile exception: API 4.2"
When I try to compile the template application:

[code]

[2013-02-06 13:42] artagnon commented on #34
Actually, pindah doesn't work with 4.2, although it seems to work with 2.1.

[2013-02-06 13:51] abscondment commented on #34
Are you running off of Pindah master? We're overdue to release a new gem.
Chances are high that many of these issues are resolved already.
On Feb 6, 2013 5:42 AM, "Ramkumar Ramachandra" notifications@github.com
wrote:

[2013-02-06 13:53] artagnon commented on #34
Yes, I am running off pindah master, but it seems to have tons of issues.  With the gem, even `rake -T` doesn't work.  See #37 for more.

[2013-02-06 13:56] artagnon opened #38 "`rake install` doesn't work"
[code]

Why is this so complicated?  Isn't an `adb install -r <file>` all you need to do?

[2013-02-06 13:58] abscondment commented on #34
Also noticed you're on the latest jruby. I've only been able to make things
work with 1.6.8; the 1.7 line fails generally. And I have a recollection
that Java 7 won't work. If changing those things fixes your build, there
definitely needs to be issues open for them.
On Feb 6, 2013 5:53 AM, "Ramkumar Ramachandra" notifications@github.com
wrote:

[2013-02-06 14:04] artagnon commented on #34
Other projects usually depend on _newer_ versions of software than what I have present, while pindah seems to be obsessed with depending on stinking old software (especially API 2.1!).  By the way, it doesn't work with the mirah master either.

Nope, doesn't wok with 1.6.8 (see #39).

[2013-02-06 14:04] abscondment commented on #38
It's complicated because the take tasks map directly to the ant tasks, and
the ant tasks changed to behave this way. You need to:

rake debug install

In order to actually build+install.

If all you want is to install an existing apk, then sure, use adb.

Not sure why the ant build works this way now, but it does. Perhaps it's
because the install target is ambiguous if you've built multiple files

[2013-02-06 14:08] artagnon opened #39 "jruby 1.6.8 not supported?"
pindah works fine with 1.7.2, but with 1.6.8 I get:

[code]

[2013-02-06 14:15] artagnon commented on #38
Fix the `rake -T` output then:

[code]

Clearly misleading.

Besides, `rake logcat` persumably executes `adb logcat` after spewing some errors and making a fuss.  Is there really no way to simplify it?

[2013-02-06 14:33] abscondment commented on #38
I agree that this is confusing. We're pulling these descriptions from the
ant tasks, but they appear to be truncated when compared to what ant tells
us. E.g.

[code]

used
     [echo]               in conjunction with a build target (debug/release/
     [echo]               instrument) or with the proper suffix indicating
     [echo]               which package to install (see below).
     [echo]

[2013-02-06 14:53] abscondment commented on #39
It definitely does -- I've been working with it every day for the past few weeks.

The trick will be figuring out the diffs between your setup and mine, and opening tickets for the ones that actually cause the breakage.

This particular issue is a rake incompatibility -- Google shows the problem is pretty common.

My current working setup is:
- JRuby 1.6.8
- JRuby is running in 1.8 mode
- Java 6
-

[2013-02-06 15:44] abscondment commented on #39
Confirmed that master + mirah 0.0.12 builds the sample project on 1.6.8, so I'm going to close this issue.

However, you've raised a bunch of great points about the out-of-the-box usability of Pindah. I'm planning to spend some of my day looking at Java 7, JRuby 1.7.2, and mirah master to see if there's a magic combination that works & make sure we're tracking the right issues to get these things

[2013-02-06 15:44] #39 closed, assigned to nobody

[2013-02-06 15:49] artagnon opened #40 "Building with Java 7 emits bad opcodes"
I built a sample application using `pindah create org.test.chwall2 chwall2 ChwallActivity`, built it and put it on my phone.  It crashes on startup.  From logcat:

[code]

[2013-02-06 15:51] abscondment commented on #40
Can you post the adb lines from before the ClassNotFoundException? Is there something about throwing out an invalid class?

[2013-02-06 16:10] abscondment commented on #40
I bet this is happening because you've built with Java 7. When I switch over to 7, Mirah generates bytecode that is invalid on Dalvik.

When building, I see lots of this:

[code]

When running, this:

[code]

The "VFY" lise are dalvik throwing out "bad" opcodes. Mirah needs to update its Java 7 + 1.6 opcode support.

Please reopen if you're running Java 6 and still seeing this.

[2013-02-06 16:39] abscondment commented on #40
I'm actually going to reopen this as a "Make Java 7 & Mirah emit proper Dalvik opcodes" ticket.

[2013-02-06 16:44] baroquebobcat commented on #34
Mirah master has a number of changes for 1.7 support, which might have
broken a few things for 1.6.8

On Wed, Feb 6, 2013 at 7:21 AM, Brendan Ribera notifications@github.comwrote:

##

-Nick Howard
http://blog.baroquebobcat.com/

[2013-02-06 17:13] abscondment commented on #34
@baroquebobcat How do you suggest using mirah master? Pointing bundler at the git path doesn't work, and I'm afraid mirah/mirah#194 is still breaking Pindah for the pre gem.

The other big issue for Pindah is #40 -- building through the ant compile task with Java 7 doesn't play nicely with Dalvik. Am I correct in thinking that mirah master requires Java 7?

[2013-02-06 17:50] baroquebobcat commented on #34
Mirah master doesn't require java 7. there might be some funniness with
default target jdk if you are running 7 yourself though.

[2013-02-06 17:59] abscondment commented on #34
Good to know. Pindah is explicitly setting 1.6 as a target, but this
generates bad opcodes when run through Java 7.

On Wed, Feb 6, 2013 at 9:50 AM, Nick Howard notifications@github.comwrote:

[2013-02-06 19:30] #40 closed, assigned to nobody

[2013-02-06 19:31] abscondment commented on #40
For posterity, it seems that the bad opcodes were coming from javac -- we hadn't told it which JVM to target, so it was happily emitting 1.7 classfiles.

[2013-02-14 01:17] abscondment commented on #38
There are two intertwined issues here:
1. `rake -T` behavior is surprising
2. Android's ant tasks are confusing and complex, and some were missing.

The first issue is that `rake -T` actually **truncates** long lines. This is (apparently) a well-known rake "feature" -- was news to me! So any Rakefile with long descriptions is actually getting clipped by our use of `rake -T`. Instead of `rake -T`,

[2013-02-14 01:17] #38 closed, assigned to nobody

[2013-02-14 01:23] abscondment commented on #37
Have you tried this with Mirah 0.0.12 and the latest Pindah from Git?

This currently works for me under the following configurations:
- Java 6/7, JRuby 1.6.8, Mirah 0.0.12, Pindah from master
- Java 6/7, JRuby 1.7.2, Mirah built from local master, Pindah from master (Mirah build is finicky right now)

I want to resolve #28 & ship this latest version of Pindah, but I want to make sure folks can wo

[2013-02-14 01:29] abscondment commented on #33
Can you give me four bits of info?
- Java version
- JRuby version
- Mirah version
- Pindah version (I know you wrote 0.13, but what commit are you using?)

I can currently get things working with two configurations:
- Java 6/7, JRuby 1.6.8, Mirah 0.0.12, Pindah from master
- Java 6/7, JRuby 1.7.2, Mirah built from local master, Pindah from master (Mirah build is finicky right now)

There are a cou

[2013-02-14 01:35] abscondment commented on #31
That link (and the [page it points to](https://issues.apache.org/jira/browse/CB-974)) indicates the problem isn't with Pindah; it's an android tools issue. They say adding `renderscript.opt.level=O0` fixes things; I'm closing this out since it's not our bug afaict.

As an aside, I don't repro with Android SDK Tools Revision 21.0.1 -- maybe they fixed it.

[2013-02-14 01:35] #31 closed, assigned to nobody

[2013-02-14 01:47] abscondment commented on #25
Ah, looks like we just fixed this. Sorry 'bout the lag.

[2013-02-14 01:47] #25 closed, assigned to nobody

[2013-02-14 01:55] abscondment commented on #28
Ok, I'm looking at this again. Only 4 months late :)

I'm currently waiting to hear back on #33 and #37, but I'm confident that these issues are all related to combining certain versions of Mirah and JRuby. Once I nail those down, I plan to update the README with known good versions and release 0.13. Yay.

[2013-02-14 11:53] artagnon commented on #39
Okay, now I have a brand new Arch Linux install (so you can't complain about broken userland/ misconfiguration).  I installed `apache-ant 1.8.4-1` and `jdk7-openjdk 7.u13_2.3.6-1` from pacman.

[code]

On a fresh pindah project, I get the exact output I've listed in the original issue from rake.  What am I missing?

[2013-02-14 12:05] artagnon commented on #37
Brendan Ribera wrote:

Sorry about the delay.  I just got myself a brand new Arch Linux install.

Nope.  I've left a comment on #39.

Nope, doesn't work.  What am I missing?

[code]

`java_import'
    org/jruby/RubyArray.java:2361:in`map'
    file:/home/artagnon/dotfiles/.rbenv/versions/jruby-1.7.2/lib/jruby.jar!/jruby/java/core_ext/object.rb:22:in
`java_import'
    /home/artagnon/.ruby/gems/mirah

[2013-02-14 12:29] abscondment commented on #39
What's your rake version?
On Feb 14, 2013 3:53 AM, "Ramkumar Ramachandra" notifications@github.com
wrote:

[2013-02-14 12:44] artagnon commented on #39
0.8.7.

[2013-02-14 12:48] abscondment commented on #39
So like I said above, this error is because of an old rake version - afaict.

Please try it with 0.9.2.2 or newer and let me know.

I'll double check that we're specifying the correct min version.
On Feb 14, 2013 4:44 AM, "Ramkumar Ramachandra" notifications@github.com
wrote:

[2013-02-14 12:54] abscondment commented on #37
How did you build/install Mirah from master?
On Feb 14, 2013 4:06 AM, "Ramkumar Ramachandra" notifications@github.com
wrote:

[2013-02-14 13:24] artagnon commented on #39
Huh?  My rake version is set in an rbenv shim.

[code]

You're asking me to use the rake bundled with jruby-1.7.2 with jruby-1.6.8?
 Ugh.

[2013-02-14 13:25] artagnon commented on #37
Like this:

[code]

[2013-02-14 14:56] abscondment commented on #39
No, I'm asking you to `gem install rake` (which should update your rbenv
version, pretty sure it just uses a gem).

Or you can do what I do: use bundler. That's not part of the default
project skeleton, so I'd like to figure it out without it.
On Feb 14, 2013 5:24 AM, "Ramkumar Ramachandra" notifications@github.com
wrote:

[2013-02-14 20:48] abscondment commented on #39
Ok, here's the latest on JRuby 1.6.8 + mirah 0.0.12:

I repro your issue when using rake 0.8.7. Huzzah!

Pindah now specifies the correct minimum rake version, so installing
the Pindah gem will automatically depend on an appropriate version of rake.

[code]

Now building works just fine:

[code]

[2013-02-15 09:56] artagnon commented on #39
Brendan Ribera wrote:

Works now!  For the first time, I built a non-crashing mirah
application for my Android.  Thanks :)
mirah `master` still doesn't work though.

[2013-02-15 21:25] abscondment commented on #37
I have good news and bad news.

Bad news: mirah master is currently pretty broken. See mirah/mirah#190 mirah/mirah#201 mirah/mirah#202
for some particularly bad bugs that have developed since
0.0.12. And master is the only thing I can get to work with JRuby 1.7+.

Good news: [here's how you can make it to work _and_ work around the bugs](https://gist.github.com/abscondment/4963649).

Please reopen

[2013-02-15 21:25] #37 closed, assigned to nobody

[2013-02-15 21:36] abscondment commented on #33
Ok, followup: after all the compatibility debugging I've done this week, I recognize this error as using Mirah 0.0.12 with JRuby 1.7+.

I'm going to close this, since that's a known bad combination, and we now note that (see #42) in the README. If my reading of the tea leaves is incorrect, please reopen.

[2013-02-15 21:36] #33 closed, assigned to nobody

[2013-02-15 21:38] abscondment commented on #26
@josepjaume, I'm going to close this since a lot has changed in a year. Please reopen it if you hit the same issues in master (or 0.1.3 once it's out there).

[2013-02-15 21:38] #26 closed, assigned to nobody

[2013-02-15 21:42] donokuda commented on #33
@abscondment :+1: Thank you (and everyone) for all the debugging. Sorry I wasn't able to give you the info in a timely fashion but I'll be sure to try out the recommended requirements and report back if there are any issues!

[2013-02-15 21:42] abscondment commented on #39
Yay! Reproducibility is a big step! :dancers:

[2013-02-15 21:51] abscondment commented on #33
Awesome, thanks!

[2013-05-31 02:42] AtomicPair opened #43 "Generate XML resource files from YAML, Rake, or Ruby source"
#### Intro

I have seen several people across the web longing for the ability to generate various Android XML resource files from either YAML, Rake, or some other Ruby DSL.  Now that I'm using and/or supporting both Ruboto and Pindah in my own projects, I have considered the idea of writing such a component myself.  Also, given how both projects utilize Rails-inspired content generation for variou

[2013-06-04 00:03] baroquebobcat commented on #43
Sounds pretty cool. Let us know what it looks like.

[2013-06-05 21:05] abscondment commented on #15
We should try to make use of ANDROID_AAPT_IGNORE instead:

https://android.googlesource.com/platform/frameworks/base/+/90897ed87bce639bf6bb2ccf15fbabb59b131bab

[2013-10-24 09:36] JJJollyjim opened #44 "Basic project crashes on launch"
I've set up a simple project with a single activity. It crashes as soon as it launches with a `RuntimeException`. I get the same error in any sample projects I can find online. Versions of things:

[code]

I noticed when trying to fix this that `bin/classes/<packagename>` contains a few classes (`BuildConfig.class, R$attr.class, R$drawable.class, R$layout.class, R$string.class, R.class`), but not

[2013-11-17 22:32] AtomicPair commented on #44
Hi, @jj56. Let me look into this and report back my findings. In the meantime, what version of Pindah are you using?

The Pindah project has remained fairly quiet for most of this year. However, I have recently offered to manage the project myself, so you can expect to see several updates and bug fixes very soon.

[2013-11-20 05:04] AtomicPair commented on #5
I believe this one should be covered by #43. Closing for now.

[2013-11-20 05:04] #5 closed, assigned to nobody

[2013-11-20 05:06] AtomicPair opened #45 "Update documentation to reflect currently compatible JRuby/Mirah combinations"

[2013-11-20 06:05] AtomicPair commented on #15
Hi, @sattvik.  Sorry it's taken so long to get you a response on this!

Personally, I'm not against the idea of having split source directories, although I share the concern that it would likely break existing projects without the addition of some deprecation and transitional support code.

Given then choice, I would prefer @abscondment's solution of using the ANDROID_AAPT_IGNORE variable to exclu

[2013-11-20 06:14] AtomicPair commented on #3
I've classified this issue as a feature for now.  If anyone would like to help provide support for this issue, feel free to suggest possible solutions or open a new pull request! :-)

[2013-11-20 06:43] AtomicPair commented on #28
Alright, guys 'n gals, now that I've agreed to help Phil and Brendan with the managerial duties, I'd like to close out some of these stale issues and cut this 0.1.3 release we have been talking about for more than a year now.

In an effort to provide some clarity and direction, I've taken some time to clean up the issue tracker by adding several new tags and milestones, and I've tagged all but one

[2013-11-20 06:52] AtomicPair opened #46 "Create basic Pindah project website"
I think having a simple project website would help create awareness and (hopefully) increase widespread adoption for the project.  We could use Jekyll (or a similar framework) to create a clean, static site and host the assets on GitHub Pages.

I have some site design ideas in my head, but I may not have time to realize them for several weeks.  Does anyone want to contribute anything to this idea

[2013-11-20 07:11] AtomicPair opened #47 "Add support for current Android API levels"

[2013-11-20 15:05] baroquebobcat commented on #28
That sounds great.
On Nov 19, 2013 11:43 PM, "Adam Parrott" notifications@github.com wrote:

[2013-11-20 15:08] baroquebobcat commented on #46
I've used middleman for that a couple times and I think it works pretty
well. Do you want a separate repo or do the gh-pages branch thing?
On Nov 19, 2013 11:52 PM, "Adam Parrott" notifications@github.com wrote:

[2013-11-20 17:22] AtomicPair commented on #46
@baroquebobcat Good question.  I don't have any personal experience with creating a new site for an existing project using the gh-pages branch method, so I welcome your thoughts on this.  On the one hand, it might help to keep everything centralized under one project repo; on the other, maintainers would need to exercise care when checking out and committing changes to the branch so they don't aff

[2013-11-30 18:31] AtomicPair commented on #44
Hi, @jj56. Is this still an issue for you?

[2013-12-21 13:03] edubkendo commented on #47
Any movement here?

[2013-12-21 18:11] AtomicPair commented on #47
Yep, I'm planning to prep and push out the 0.1.3 release this weekend. After that, we have our sights set on the big 1.0.0 release in just a couple weeks.

Thanks for checking in!

[2014-01-01 01:26] AtomicPair commented on #15
Closing this one for now and opening a separate issue for the ANDROID_AAPT_IGNORE solution.  If the need for this solution arises in the future, or if anyone has any further input, please open a new issue and/or pull request.

[2014-01-01 01:26] #15 closed, assigned to AtomicPair

[2014-01-01 01:40] AtomicPair opened #50 "Exclude Mirah source files from mixed-source projects during build process"
_(Forked from #15 into separate issue.)_
### Problem

Since Pindah expects Mirah source files to reside alongside Java source files in the same directory, Android will package any non-Java source files from that directory into the final APK package during the build process.
### Solution

Utilize the ANDROID_AAPT_IGNORE build flag to programmatically exclude the desired Mirah source files during th

[2014-01-02 03:53] #47 closed, assigned to AtomicPair

[2014-01-02 13:24] apaleslimghost commented on #31
Where exactly? I've put it in an ant.properties at the project root, but it doesn't seem to be loaded. This is happening with Android Tools R22.3.

**Edit** scratch that, putting it in local.properties works.

[2014-01-02 21:06] AtomicPair opened #51 "Release 1.0.0 gem"

[2014-01-02 21:08] AtomicPair opened #52 "Ignore unchanged source files during build process"

[2014-01-06 17:24] baroquebobcat commented on #51
Are you going to depend on Mirah 0.1.2?

[2014-01-07 05:49] AtomicPair commented on #51
I'm not sure we're ready to make that the minimum requirement with this release, but I definitely think it should definitely be supported.  Fortunately, the latter should happen with the 0.1.3 or 0.1.4 release.

What are your thoughts on this?

[2014-01-07 16:44] baroquebobcat commented on #51
That sounds fine.

[2014-01-12 07:56] AtomicPair commented on #44
@jj56 I've been unable to reproduce the problem on my end, and since we haven't heard from you in over two months, I'm going to close this issue.  Please reopen if this is still a problem for you with the upcoming 0.1.3 release.

[2014-01-12 07:56] #44 closed, assigned to AtomicPair

[2014-01-12 08:30] AtomicPair opened #53 "Update docs to clarify activity creation and other options when calling 'pindah create'"

[2014-01-12 08:45] AtomicPair opened #54 "Update tests to automatically validate all desired JRuby/Mirah combinations"
Using a combination of Bundler and some JRuby management or detection scheme — possibly using one of the popular Ruby managers like RVM or Uru — ensure the test suite can automatically validate all of the currently workable JRuby/Mirah combinations.
- Desired combinations could be added to a "hot list" for automated testing.
- Valid combinations can be added to the project documentation.
- Invalid

[2014-01-15 03:29] AtomicPair opened #55 "Remove support for JRuby 1.6.8 and Mirah 0.0.12"
Out with the old and in with the new!

The new minimum support versions with this release will be JRuby 1.7.3 and Mirah 0.1.0.  If this change will adversely impact anyone here, please speak now or forever hold your peace.  :-)

[2014-01-15 05:56] AtomicPair opened #56 "Update test suite to test mixed-source builds"
When running the full test suite, Pindah should successfully compile a mixed-source test project without failing.  Tests should ensure that the Java source files are compiled before (and made available to) the Mirah source files in the `compiling` step.

[2014-01-15 05:58] AtomicPair commented on #18
Hi, @igstan.  This issue should be covered by the upcoming changes in the 0.1.3 release, so I'm closing this issue.  If you're still experiencing issues after the 0.1.3. release, please open a new issue with the relevant error information.

[2014-01-15 05:58] #18 closed, assigned to AtomicPair

[2014-01-15 08:20] #45 closed, assigned to AtomicPair

[2014-01-15 08:20] #53 closed, assigned to AtomicPair

[2014-01-15 08:22] AtomicPair opened #57 "Release 0.1.4 gem"

[2014-01-15 08:38] AtomicPair opened #58 "Ensure ProGuard config is being used during release build process"

[2014-01-15 08:50] #55 closed, assigned to AtomicPair

[2014-01-15 09:07] #28 closed, assigned to AtomicPair

[2014-01-16 07:42] AtomicPair opened #59 "Create project Twitter account"
The @pindah user name is already taken, so I've proposed @PindahApp or @PindahTeam to the team.

Vote for your choice here!

[2014-01-16 21:00] AtomicPair opened #60 "Add support for Travis-CI tests"

[2014-01-23 08:31] AtomicPair commented on #59
So far, we have two votes for @PindahTeam from the core dev team.

Before we can register the new Twitter account, we'll need to create a project email address that can be associated with the Twitter account.  Since we do not (yet) have a domain secured for the project, Gmail will likely be the best option for this first step.

Any thoughts on this?

[2014-01-23 22:47] baroquebobcat commented on #59
maybe we could setup a forward email on mirah.org

[2014-01-23 22:49] AtomicPair commented on #59
That sounds great; maybe pindah@mirah.org?  Is that something you or Ryan could handle?

[2014-01-23 22:52] baroquebobcat commented on #59
I think @ribrdb is in control of the domain.

[2014-07-19 15:15] gastonmorixe commented on #59
HI guys, is thus project abandoned?

[2014-07-26 18:23] baroquebobcat commented on #59
It's not abandoned, but it is currently only intermittently maintained.

[2015-12-16 14:57] ppibburr opened #61 "rake debug does not make apk"
jruby 1.7.23 (1.9.3p551) 2015-11-24 f496dd5 on Java HotSpot(TM) Client VM 1.8.0_60-b27 +jit [linux-arm]

java version "1.8.0_60"
Java(TM) SE Runtime Environment (build 1.8.0_60-b27)
Java HotSpot(TM) Client VM (build 25.60-b23, mixed mode)

Mirah v0.1.4

Apache Ant(TM) version 1.9.3 compiled on April 8 2014

[2015-12-16 15:01] ppibburr commented on #61
it will compile classes.

and as a work around if i:
- extract `pindah-build.xml` from rake debug
- comment out the `mirahc` compile tags
- save as `build.xml`
- run `ant debug`

i now have an apk

[2017-10-07 06:38] arjunmenon opened #62 "Active?"
Hey
Is this project still active? Does it support current Android versions in use, 6-7-8?

[2017-10-10 16:59] baroquebobcat commented on #62
It's not active at the moment. I haven't tested against newer androids.

On Oct 7, 2017 12:38 AM, "Arjun Menon" <notifications@github.com> wrote:

[2020-06-03 17:40] Toni-zgz commented on #62
I've added the missing targets in the "pindah.rb" file and I've compiled it for Android 5.1 (API 22) and compiled it perfectly and works fine in the emulator.
Then you only have to update the targets in that file and we already have it up and running.

[2020-06-04 16:33] Toni-zgz commented on #3
This is a Mirah problem, not Pindah's.

I'd close it and open it in the Mirah project.

[2020-06-04 16:34] Toni-zgz commented on #50
This is a Mirah problem, not Pindah's. I'd close it and open it in the Mirah project.

[2020-06-04 16:35] Toni-zgz commented on #50
This is a Mirah problem, not Pindah's.

I'd close it and open it in the Mirah project.